<%- include('partials/header'); -%>

<div class="ui main text container segment" style="margin-top: 7.0em;">
   <div class="ui huge header"> <%= blog.title %> </div>
   <div class="ui top attached segment">
      <div class="item">
         <img class="ui centered rounded image" src="<%= blog.image %>" alt="">
      </div>
      <div class="content">
         <!--Adding the method toDateString() convert the 
         date to readable form-->
         <span><%= blog.created.toDateString() %></span>
      </div>
      <div class="description">
         <p><%= blog.body %></p>
      </div>
   </div>
</div>

<%- include('partials/footer'); -%>